body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Roboto';
  font-size: 14px;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, rgb(216, 216, 216) 1px, transparent 1px),
                    linear-gradient(to bottom, rgb(216, 216, 216) 1px, transparent 1px);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box {
  position: absolute;
  top: 80px;
  height: 40px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,1);
  border: 2px solid rgba(0,0,0,.7);
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.box.yellow {
  background-color: #ffff66;
  left: 120px;
}

.box.red {
  background-color: #ffcc99;
  left: 300px;
}

.box.grey {
  background-color: #cccccc;
  left: 480px;
}

.top-right,
.right,
.bottom-right,
.top-left,
.left,
.bottom-left,
.top,
.bottom {
  position: absolute;
  width: 2px;
  height: 2px;
  cursor: pointer;
  background-color: transparent;
  transition: all .2s linear;
}

.box:hover > .top-right,
.box:hover > .right,
.box:hover > .bottom-right,
.box:hover > .top-left,
.box:hover > .left,
.box:hover > .bottom-left,
.box:hover > .top,
.box:hover > .bottom {
  transform: scale(2);
  background-color: rgba(16, 80, 255, 0.5); 
}

.box:hover > .top-right:hover,
.box:hover > .right:hover,
.box:hover > .bottom-right:hover,
.box:hover > .top-left:hover,
.box:hover > .left:hover,
.box:hover > .bottom-left:hover,
.box:hover > .top:hover,
.box:hover > .bottom:hover {
  transform: scale(5);
  background-color: rgb(255, 0, 0); 
}

.box:hover > .right:hover,
.box:hover > .left:hover {
  cursor: ew-resize;
}

.box:hover > .top:hover,
.box:hover > .bottom:hover {
  cursor: ns-resize;
}

.box:hover > .top-right:hover,
.box:hover > .bottom-left:hover {
  cursor: nwse-resize;
}

.box:hover > .top-left:hover,
.box:hover > .bottom-right:hover {
  cursor: nesw-resize;
}

.top-right {
  left: -1px;
  top: -1px;
}

.right {
  left: -2px;
  top: calc(50% - 1px);
}

.bottom-right {
  left: -1px;
  bottom: -1px;
}

.top-left {
  right: -1px;
  top: -1px;
}

.left {
  right: -2px;
  top: calc(50% - 1px);
}

.bottom-left {
  right: -1px;
  bottom: -1px;
}

.top {
  left: calc(50% - 1px);
  top: -2px;
}

.bottom {
  left: calc(50% - 1px);
  bottom: -2px;
}
